.DS_Store
**/.DS_Store

submissions/
Responses.tex
response.sty

# Large datasets
raw-data/County_Business_Patterns/efsy_panel_naics.csv
data/County_Business_Patterns/

# auxiliary latex files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.run.xml
*.synctex.gz
*.nav
*.snm
